*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:#121214;
  padding: 72px 104px;
  display: grid;
  justify-content: center;
}

header h1{
  color:  #02799D;
  font-family: 'Mulish', sans-serif;
  font-size: 56px;
  font-weight: 900;
}

header p{
  color:#E1E1E6;
  font-family: 'Mulish', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

main{
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 48px 60px;
}

.card{
  overflow: hidden;
  background: #202024;
  border-radius: 8px;
  border: 2px solid #323238;
}

.card h2{
    font-family: 'Mulish', sans-serif;
    color:#E1E1E6;
    font-size: 36px;
    font-weight: 900;
    padding: 24px 32px 0;
}

.card p{
  padding: 24px 32px 32px;
  font-family: 'Mulish', sans-serif;
  color:#C4C4CC;
  font-size: 18px;
  font-weight: 600;
}
